# Copy this file to secrets.yaml and fill in your values

wifi_ssid: "your_wifi_ssid"
wifi_password: "your_wifi_password"

api_key: "generate_a_random_32_byte_base64_key"
ota_password: "your_ota_password"

# To generate api_key, run:
# openssl rand -base64 32
